* { box-sizing: border-box;}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

header { 
    height: 27em;
    background-image: url('../images/dator2.png');
    background-size: cover;
}

hr { 
    border-top: #FFF;
}

@font-face {
    font-family: mainFont;
    src: url('fonts/personality DEMO.otf')
}

@font-face {
    font-family: blogFont;
    src: url('fonts/Lora-regular.ttf')
}

#header-img { 
    max-width: 200%;
    display: block;
    z-index: 40;
    top: 0;
    left: 0;
}

h1 { 
    position: absolute;
    font-family: mainFont;
    font-weight: bold;
    font-size: 3em;
    color: #fff;
    margin: 1em 0;
    width: 100%;
    background-color: rgba(224, 187, 234, 0.9);
    padding: 0.3em 0;
    top: 23%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

h2 {
    font-family: blogFont;
    width: 80%;
    margin: 0.2em auto;
    font-size: 1.3em;
    border-bottom: 2px solid;
    padding: 0.5em 0;
}

h3 { 
    font-family: mainFont; 
    font-size: 2em;
    margin-top: 0.1em;
}

/* BOOTSTRAP MENU */

.navbar-default {
    font-family: mainFont;
    background-color: #e0bbea;
    text-align: center;
    border-radius: 0;
    border: none;
    height: 3.5em;
    z-index: 10000000;
}

.navbar { margin-bottom: 0;}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000000;
}

nav a {
    color: #FFF;
    padding: 0.5em 0.4em 0 0.4em;
    text-decoration: none;
    border-bottom:  2px solid transparent;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.navbar-default .navbar-nav > li > a {
    padding-bottom: 0.2em;
    font-size: 1.7em;
    color: #FFF;
}

.navbar-nav { 
    float: none;
    background-color: #e0bbea;
    margin-top: 0;
}

.navbar-default .nav > li > a:hover {
    background-color: #c2a1cc;
    color: #FFF;
}

.navbar-default .nav > li > a:focus {
    background-color: #c2a1cc;
    color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #c2a1cc;
    border: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #FFF;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { border-color: #FFF;}

.dropdown-menu>li>a { 
    background-color: #e0bbea;
    color: #fff;
}

.dropdown-menu>li>a:hover { 
    background-color: #c2a1cc; 
    color: #FFF;
}

.dropdown-menu { 
    background-color: #e0bbea; 
    border: none;
}

/* BLOG POSTS AND MEDIA (MAIN SECTION)*/

article {
    background-color: #FFF;
    width: 100%;
    margin: 2em 0;
    overflow-y: auto;
}

.blog-posts {
    padding: 0.7em;
    outline: none;
    color: #000;
    background-color: #FFF;
    overflow-wrap: break-word;
}

.blog-posts h2 {
    border-bottom: none;
    text-decoration: underline;
}

#blog-articles .text-box {
    height: 5em;
}

.text-box {
    height: 20em;
    width: 100%;
    margin: auto;
    background-color: #34ACAF;
    background-size: cover;
}

article p {
    padding: 0.5em 2em 1em 2em;
    text-align: left;
}


/* ABOUT SECTION */

#about { 
    display: none;
    background-color: #f4f4f4;
    padding: 0.5em;   
}

#about p { padding: 1em; }

#about-text {
    padding: 1em 1em 1.5em 1em;
}

/* WRITE POST FORM AND SECTION*/

#write-post { 
    display: none;
    background-color: #f4f4f4;
    padding: 2em 0.5em 1em 0.5em;   
}


.form-group {
    display: block;
    margin: 1em auto;
    width: 80%;
    text-align: left;
}

#submit-btn {
    border: 2px solid #34ACAF;
    padding: 0.7em 2em;
    color: #34ACAF;
    border-radius: 0.2em;
    background-color: #FFF;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

#submit-btn:hover {
    background-color: #34ACAF;
    color: #FFF;
    outline: none;
}

.text-field {
    outline: none;
    display: block;
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    margin: 0 auto;
}

.text-field:focus {
    border-color: #34ACAF;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}



/* FILTER DIV, LOAD MORE AND NO MORE DATA TO LOAD */

#filter {
    display: none;
    background-color: #fc9fd5;
    width: 80%;
    margin: 2.5em auto 0 auto;
    padding: 3em;
    color: #FFF;
}

#load-btn {
    border: none;
    padding: 1em;
    outline: none;
    background-color: #34ACAF;
    color: #FFF;
    margin: 5em 0 3em 0;
    border-radius: 0.2em;
    
}

#no-data {
    background-color: #ef7373;
    color: #fff;
    padding: 3em;
    display: none;
    margin: auto;
}

/*FOOTER */

footer {
    background-color: #b67aff;
    padding: 0.5em;
    color: #FFF;
}