@media screen and (min-width: 480px) {

    header { height: 25em;}
    
    #header-img { 
        max-width: 150%;
    }
    
    article { 
        width: 80%;
        display: block;
        margin: 2em auto;
        border-radius: 0.2em;
    }
    
    #write-form { 
        width: 80%;
        margin: 0 auto;
    }
    
    #about-text { 
        width: 80%;
        margin: 0 auto;
    }
    
    h2 { width: 65%;}
}

@media screen and (min-width: 700px) {
    
    #header-img { 
        max-width: 100%;
    }
    
    h1 { 
        width: 70%;
        margin: 0.5em 15%;
        padding: 0.5em;
    }
    
    #write-form { width: 65%;}
    #about-text { width: 65%;}
    
    h2 { width: 55%;}
    
    nav a { padding: 0.5em 0.9em 0 0.9em;}
}



@media screen and (min-width: 900px) {
    
    header { height: 28em;}
    
    h1 { 
        width: 50%; 
        margin: 1em 25%;
        padding: 1em;
    }

    article {
        width: 45%;
        margin: 2.5%;
        float: left;
    }
    
    #blog-articles { 
        width: 80%;
        margin: 1.5em auto;
    }
    
    #movies { 
        width: 80%;
        margin: 1.5em auto;
    }
    
    .blog-posts p { padding: 1em;}
    
    #write-form { width: 50%;}
    #about-text { width: 50%;}
    
    #write-title { width: 40%;}
    
}

@media screen and (min-width: 1200px) {
    header { height: 35em;}
    
    h1 { top: 30%; }
    
    
    #write-form { width: 40%;}
    #about-text { width: 40%;}

    
}